<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ArticleMapper">

   <insert id="insertArticle">
        insert into articleinfo(title, content, uid, state) values(#{title}, #{content}, #{uid}, #{state})
    </insert>

    <insert id="insertArticleTime">
        insert into articleinfo(title, content, createtime, updatetime, uid, state)
        values(#{title}, #{content}, #{createtime}, #{updatetime}, #{uid}, #{state})
    </insert>

    <update id="incrementRCount">
        update articleinfo set rcount = rcount + 1 where id = #{id}
    </update>

    <update id="updateTimeArticle">
        update articleinfo set title = #{title}, content = #{content}, updatetime = #{updatetime}, createtime = #{createtime}, state = #{state}
        where id = #{id} and uid = #{uid}
    </update>

    <update id="updateArticle">
        update articleinfo set title = #{title}, content = #{content}, updatetime = #{updatetime}, state = #{state}
        where id = #{id} and uid = #{uid}
    </update>

    <select id="getArticleNumberByuid" resultType="java.lang.Integer">
        select count(*) from articleinfo where uid = #{uid}
    </select>

    <select id="getMyList" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where uid = #{uid} and state = 0
    </select>

    <select id="getArticleDetail" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where id = #{id}
    </select>

    <select id="getListByPage" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo limit #{psize} offset #{offsize}
    </select>

    <select id="getArticleNumber" resultType="java.lang.Integer">
        select count(*) from articleinfo
    </select>

    <select id="getDraftList" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where uid = #{uid} and state = 1
    </select>

    <delete id="deleteArticle">
        delete from articleinfo where id = #{id} and uid = #{uid}
    </delete>

    <select id="getTimeArticle" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where state = 2
    </select>

    <select id="getTimeList" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where state = 2 and uid = #{uid}
    </select>

    <update id="publishNowArticle">
        update articleinfo set state = 0 where id = #{id} and uid = #{uid}
    </update>

    <update id="publishCheckTime">
        update articleinfo set state = 0 where id = #{id}
    </update>

    <select id="initGetArticleList" resultType="com.example.demo.entity.Articleinfo">
        select * from articleinfo where state = #{state} and uid = #{uid}
    </select>
</mapper>