<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper">

    <insert id="insertComment">
        insert into commentinfo(content, articleid, uid) values (#{content}, #{articleid}, #{uid})
    </insert>

    <select id="selectComments" resultType="com.example.demo.entity.Commentinfo">
        select * from commentinfo where articleid = #{articleId}
    </select>

    <select id="selectUsernameByUid" resultType="java.lang.String">
        select username from userinfo where id = #{userId};
    </select>
</mapper>
