<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <insert id="insertUser">
        insert into userinfo(username, password) values (#{username}, #{password})
    </insert>

    <select id="getUserByName" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo where username = #{username}
    </select>

    <select id="getAuthorById" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo where id = #{id}
    </select>

    <select id="getUserState" resultType="java.lang.Integer">
        select state from userinfo where id = #{id};
    </select>

    <update id="updateUser">
        update userinfo set state = #{state}, freezetime = #{freezetime}, errornum = #{errornum} where id = #{id}
    </update>

    <update id="updateUserErrornumState">
        update userinfo set errornum = #{errornum}, state = #{state} where id = #{id}
    </update>
    <update id="updateUserErrornum">
        update userinfo set errornum = #{errornum} where id = #{id}
    </update>

</mapper>