<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybati
s.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="getUserById" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo where id=#{userId}
    </select>

    <select id="getUserAll" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo;
    </select>

    <select id="getUserAllByIdSortDesc" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo order by id ${sort}
    </select>

    <insert id="addUser">
        insert into userinfo(username, password, createtime, updatetime)
        values(#{username}, #{password}, #{createtime}, #{updatetime})
    </insert>

    <insert id="addUserGetId" useGeneratedKeys="true" keyProperty="id" >
        insert into userinfo(username, password, createtime, updatetime)
        values(#{username}, #{password}, #{createtime}, #{updatetime})
    </insert>

    <update id="updateUserName">
        update userinfo set username = #{username} where id = #{id}
    </update>

    <delete id="deleteById">
        delete from userinfo where id = #{id}
    </delete>
</mapper>