<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybati
s.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="getUserById" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo where id=#{userId}
    </select>

    <select id="getUserAll" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo;
    </select>

    <select id="getUserAllByIdSort" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo order by id ${sort}
    </select>

    <insert id="addUser">
        insert into userinfo(username, password, createtime, updatetime)
        values(#{username}, #{password}, #{createtime}, #{updatetime})
    </insert>

    <insert id="addUserGetId" useGeneratedKeys="true" keyProperty="id" >
        insert into userinfo(username, password, createtime, updatetime)
        values(#{username}, #{password}, #{createtime}, #{updatetime})
    </insert>

    <update id="updateUserName">
        update userinfo set username = #{username} where id = #{id}
    </update>

    <delete id="deleteById">
        delete from userinfo where id = #{id}
    </delete>

    <select id="getUserByName" resultType="com.example.demo.entity.Userinfo">
        select * from userinfo where username like concat('%', #{username}, '%')
    </select>

    <insert id="addUser2">
        insert into userinfo(username,
        <if test="photo != null">
            photo,
        </if>
        password)
        values(#{username},
        <if test="photo != null">
            #{photo},
        </if>
        #{password})
    </insert>
    
    <insert id="addUser3">
        insert into userinfo
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="username != null">
                    username,
                </if>
                <if test="password != null">
                    password,
                </if>
                <if test="photo != null">
                    photo,
                </if>
            </trim>
        values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="username != null">
                    #{username},
                </if>
                <if test="password != null">
                    #{password},
                </if>
                <if test="photo != null">
                    #{photo},
                </if>
            </trim>
    </insert>

    <delete id="deleteUsersById">
        delete from userinfo where id in
        <foreach collection="ids" item="id" open="(" close=")" separator="," >
            #{id}
        </foreach>
    </delete>
</mapper>