#homeowner {
    width: 400px;
    height: 200px;
    font-size: 20px;
    background-color: gray; 
    color: white;
    border-radius: 10px;

    text-align: center;
    line-height: 100px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

#attender {
    width: 400px;
    height: 200px;
    font-size: 20px;
    background-color: gray; 
    color: white;
    border-radius: 10px;

    text-align: center;
    line-height: 100px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

#game-button {
    width: 400px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 10px;

    text-align: center;
    line-height: 50px;
    margin-top: 20px;
}

#game-button:active {
    background-color: gray;
}

#followed {
    width: 150px;
    height: auto;
    background-color: rgb(55, 177, 230); 
    font-size: 20px;
    border-radius: 10px;

    line-height: 30px;
    text-align: center;
}

#fans {
    width: 150px;
    height: auto;
    background-color: rgb(199, 251, 189); 
    font-size: 20px;
    border-radius: 10px;

    text-align: center;
    line-height: 30px;
}