/* 博客正文容器 */
.blog-content {
    padding: 30px;
}

/* 博客标题 */
.blog-content h3 {
    text-align: center;
    padding: 20px 0;
}

/* 博客日期 */
.blog-content .date {
    color: #008000;
    padding: 10px 0;
    text-align: center;
}

/* 博客内容段落 */
.blog-content p {
    text-indent: 2em;
    padding: 10px 0;
}

.blog-comment .fun{
    display: flex;
}

/* 评论标题 */
.blog-comment h3 {
    text-align: center;
}

.blog-comment #typing {
    flex: 1;
    width: 60%;
    height: 8vh;
    border: red;
    font-size:xx-large;
}

.blog-comment #comment{
    flex: 1;
    width: 80%;
}

.blog-comment #btn{
    width: 150px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.para {
    background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
}

.blog-comment .comment-button {
    align-items: center;
}